@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-open-sans), "Slate", "Inter", sans-serif;
  background-color: #f5f5f7;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .hero, .section-heading {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

body {
  @apply bg-slate-50 text-slate-900;
}

a {
  @apply text-brand hover:text-brand-light transition;
}

.glass-card {
  @apply bg-white/80 backdrop-blur-lg shadow-glass border border-white/40 rounded-[28px];
}
